.confirmation-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.confirmation-items {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.confirmation-header {
  color: #33e5bc;
}

.confirmation-item {
  margin-bottom: 30px;
}
