.header {
  align-items: center;
  background: #33b5e5;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 12px;
}

.header a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 18px;
}
