.product-page {
  text-align: center;
}

.product-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin-bottom: 64px;
}

.product-container {
  display: flex;
  justify-content: center;
}

.cart-message {
  color: #167a61;
  font-weight: 700;
}
